#signup-body {
    background-color: $White;

    #login-img {
        width: 100%;
        height: 174px;
        object-fit: cover;
    }

    h2 {
        margin-top: 38px;
        margin-bottom: 0;
        font-size: 31px;
        font-family: 'PP Radio Grotesk Bold';
        color: $Black;
        text-align: center;
    }

    h1 {
       font-size: 72px;
       margin-top: -13px;
       margin-bottom: 20px;
       font-family: 'PP Radio Grotesk Bold';
       color: $Black;
       text-align: center;
    }

    #tagline {
        display: none;
    }

    #signup-form {
        text-align: center;
        padding: 0 50px;

        input {
            width: 100%;
            padding: 10px 20px;
            font-family: 'PP Neue Montreal Light';
            font-size: 26px;
            border-radius: 0;
            border: 1px solid $Black;
            color: $Brown;
            background-color: $White;
            margin-bottom: 16px;
        }

        #login-button-signup-page {
            @include button-main;
            width: 100%;
            font-size: 24px;
            margin-bottom: 10px;
            display: inline-block;

            #login-button-signup-page:hover {
                background-color: $Brown;
            }
        }

        hr {
            margin: 20px 0;
            border: 1px solid black;
        }

        #signup-button-signup-page {
            @include button-second;
            width: 100%;
            font-size: 24px;

            #signup-button-signup-page:hover {
                background-color: $Brown;
            }
        }

        a {
            text-decoration: none;
        }

        #guest-link {
            color: $PrimaryGreen;
            font-family: 'PP Neue Montreal Light';
            font-size: 19px;
            text-decoration: none;
            cursor: pointer;
            transition: .3s ease-in-out;

            #guest-link:hover {
                color: $Black;
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    #signup-body {

        #login-img {
            height: 270px;
        }

        #signup-form {
            padding: 0 80px;
        }
    }
}
@media only screen and (min-width: 768px) {
    #signup-body {

        #login-img {
            height: 338px;
        }

        #signup-form {
            padding: 0 130px;
        }

        h1 {
            margin-bottom: 0;
        }

        #tagline {
            display: block;
            text-align: center;
            margin-bottom: 50px;
            font-family: 'PP Neue Montreal Light';
            font-size: 20px;
        }
    }
}
@media only screen and (min-width: 1024px) {
    #signup-body {

        .signup-container {
            display: flex;
            flex-direction: row-reverse;
            height: 100vh;

            #img-container {
                width: 48%;

                #login-img {
                    width: 100%;
                    height: 100%;
                    object-position: 35%;
                }
            }

            .signup-content-container {
                padding: 0 50px;
                width: 52%;
                margin: 60px 0 100px;

                h2 {
                    text-align: left;
                }

                h1 {
                    font-size: 80px;
                    text-align: left;
                }

                #tagline {
                    text-align: left;
                }

                #signup-form {
                    padding: 0 100px 0 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    #signup-body {

        .signup-container {

            .signup-content-container {
                padding: 0 85px;
                margin: 100px 0;

                h1 {
                    font-size: 120px;
                }

                h2 {
                    font-size: 40px;
                }

                #signup-form {
                    padding: 0 200px 0 0;

                    #guest-link {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}